<h1>Show Attendance</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>UID</th>
      <th>Accessed</th>
    </tr>
  </thead>
  <tbody>
    <td><%= @attendance.user.name %></td>
    <td><%= @attendance.user.rfid_uid %></td>
    <td><%= @attendance.inserted_at %></td>
  </tbody>
</table>

<span><%= link "Back", to: Routes.attendance_path(@conn, :index) %></span>
