<h1>Edit Attendance</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.attendance_path(@conn, :update, @attendance)) %>

<span><%= link "Back", to: Routes.attendance_path(@conn, :index) %></span>
